.header {
  align-items: center;
  background: #fff;
  display: flex;
  padding: 0 16px;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.header-icon {
  display: inline-block;
  margin-right: 18px;
  width: 32px;
}

.header-title {
  color: rgba(0, 0, 0, 0.85);
  display: inline-block;
  font-weight: bold;
  font-size: 16px;
  margin: 0;
  padding-right: 12px;
}

.header-subtitle {
  color: rgba(0, 0, 0, 0.45);
  display: inline-block;
  font-size: 14px;
  margin: 0;
  padding-right: 12px;
}

.content {
  background: #fff;
  margin: 80px 16px 16px 16px;
  padding: 16px;
  width: calc(100% - 32px);
}

.content-col {
  margin-bottom: 16px;
}

.content-card {
  cursor: default;
}

.content-col-table {
  height: calc(100vh - 257px);
  overflow-y: auto;
}

.ant-table {
  height: 100% !important;
}

.content-table-col-span {
  align-items: center;
  display: flex;
}

.content-table-col-p {
  margin: 0;
}
